* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    background: white;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li {
    cursor: pointer;
    font-weight: 600;
    color: #000;
}

nav ul li.active {
    color: #f2c300;
}
